apiVersion: v1
kind: PersistentVolume
metadata: 
  name: "statefulset-pgdata"
  labels:
    name: "statefulset-pgdata"
spec: 
  storageClassName: manual
  capacity: 
    storage: "$STORAGE_CAPACITY"
  accessModes: ["ReadWriteMany"]
  hostPath: 
    path: "$MOUNT_PATH"
  persistentVolumeReclaimPolicy: Retain
