apiVersion: v1
kind: PersistentVolume
metadata: 
  name: "statefulset-pgdata"
  labels: 
    name: "statefulset-pgdata"
spec: 
  capacity: 
    storage: "${STORAGE_CAPACITY}"
  accessModes: ["ReadWriteMany"]
  cephfs:
    monitors: ["$MONITORS"]
    path: /k8s/app-files/$NAMESPACE
    user: $NAMESPACE
    secretRef:
      name: ceph-secret
  persistentVolumeReclaimPolicy: Retain
